
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-between">
          <h1 class="me-2" type="button">Welcome Dr. {{loggedUser.first_name}} {{loggedUser.last_name}}!</h1>
          <div>
            <a href="/edit_profile" class="btn btn-warning">Edit Profile</a>
            <a href="/add/patient" class="btn btn-sm btn-primary" type="button">Add Patient Questionnaire</a>
            <a href="/logout" class="btn btn-sm btn-danger" type="button">Logout</a>
          </div>
        </form>
        <div>
            <h3 class="text-center">Medical Center: {{ loggedUser.medical_center_name }}</h3> 
            <h3 class="text-center">City: {{ loggedUser.city_name }}</h3>
        </div> 
      </nav>
      <h1 class="text-center m-2">All Patients Records</h1>

    <table class="table w-75 m-auto">
        <thead>
          <tr>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">BMI</th>
            <th scope="col">Waist Size</th>
            <th scope="col">Physical Activity</th>
            <th scope="col">Fruit and Vegetable Intake</th>
            <th scope="col">High Blood Pressure</th>
            <th scope="col">High Sugar Pressure</th>
            <th scope="col">Pregnancy Large Baby</th>
            <th scope="col">Mother Diabetes</th>
            <th scope="col">Father Diabetes</th>
            <th scope="col">Siblings Diabetes</th>
            <th scope="col">Children Diabetes</th>
            <th scope="col">Ethnicity</th>
            <th scope="col">Education Level</th>
            <th scope="col">Risk Score</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
          <tr>
            <td>{{patient.gender}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.bmi}}</td>
            <td>{{patient.waist_size}}</td>
            <td>{{patient.physical_activity}}</td>
            <td>{{patient.fruit_vegetable_intake}}</td>
            <td>{{patient.high_blood_pressure}}</td>
            <td>{{patient.high_sugar_pressure}}</td>
            <td>{{patient.pregnancy_large_baby}}</td>
            <td>{{patient.mother_diabetes}}</td>
            <td>{{patient.father_diabetes}}</td>
            <td>{{patient.siblings_diabetes}}</td>
            <td>{{patient.children_diabetes}}</td>
            <td>{{patient.ethnicity}}</td>
            <td>{{patient.education_level}}</td>
            <td>{{patient.risk_score}}</td>
            <td>
              <a href="/patients/{{patient.id}}" class="btn btn-outline-primary">View</a>
              {% if car.users_id == loggedUser.id %}
              <a href="/patients/edit/{{patient.id}}" class="btn btn-outline-danger">Edit</a>
              <a href="/patients/delete/{{patient.id}}" class="btn btn-outline-danger">Delete</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    <div class="text-end w-75 m-auto mt-3">
      <a href="/users/purchases" class="btn btn-sm btn-info">My Patients</a>
    </div>
    
</body>
</html>
